<a href="https://colab.research.google.com/github/KormazovaVer/REG_Expres/blob/main/reg_exp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import re
import csv


phone_pattern = r'(\+7|8)\s*(\s?\()*(\d{3})[\s\)-]*(\d{3})[\)\s-]*(\d{2})[-]*(\d{2})[\s\(]*(доб\.)*[\s]*(\d+)*[\)]*'
phone_sub = r'+7(\3)\4-\5-\6 \7\8'


def main_func(phonebook_list):
    new_list = list()
    for item in phonebook_list:
        full_name = ' '.join(item[:3]).split(' ')
        result = [full_name[0], full_name[1], full_name[2], item[3], item[4],
                  re.sub(phone_pattern, phone_sub, item[5]),
                  item[6]]
        new_list.append(result)
    return string_join(new_list)


def string_join(contacts):
    for contact in contacts:
        firstname = contact[0]
        lastname = contact[1]
        surname = contact[2]
        for new_contact in contacts:
            new_firstname = new_contact[0]
            new_lastname = new_contact[1]
            new_surname = new_contact[2]
            if firstname == new_firstname and \
               lastname == new_lastname and \
               (surname == new_surname or surname == "" or new_surname == ""):
                if contact[2] == "":
                    contact[2] = new_contact[2]
                if contact[3] == "":
                    contact[3] = new_contact[3]
                if contact[4] == "":
                    contact[4] = new_contact[4]
                if contact[5] == "":
                    contact[5] = new_contact[5]
                if contact[6] == "":
                    contact[6] = new_contact[6]

    result_list = list()
    for contact in contacts:
        if contact not in result_list:
            result_list.append(contact)

    return result_list


if __name__ == '__main__':

    with open("phonebook_raw.csv", encoding="utf-8") as f:
        rows = csv.reader(f, delimiter=",")
        contacts_list = list(rows)

    with open("phonebook.csv", "w", encoding="utf-8") as f:
        datawriter = csv.writer(f, delimiter=',')
        datawriter.writerows(main_func(contacts_list))

In [9]:
import pandas as pd
df = pd.read_table('phonebook_raw.csv')
df

  lastname,firstname,surname,organization,position,phone,email
0  Усольцев Олег Валентинович,,,ФНС,главный специ...
1  Мартиняхин Виталий Геннадьевич,,,ФНС,,+7495913...
2  Наркаев,Вячеслав Рифхатович,,ФНС,,8 495-913-0168,
3  Мартиняхин,Виталий,Геннадьевич,ФНС,cоветник от...
4  Лукина Ольга Владимировна,,,Минфин,,+7 (495) 9...
5  Паньшин Алексей Владимирович,,,Минфин,,8(495)7...
6  Лагунцов Иван Алексеевич,,,Минфин,,+7 (495) 91...
7        Лагунцов Иван,,,,,,Ivan.Laguntcov@minfin.ru

In [10]:
df_new = pd.read_table('phonebook.csv')
df_new

  lastname,firstname,surname,organization,position,phone,email
0  Усольцев,Олег,Валентинович,ФНС,главный специал...
1  Мартиняхин,Виталий,Геннадьевич,ФНС,cоветник от...
2  Наркаев,Вячеслав,Рифхатович,ФНС,,+7(495)913-01...
3  Лукина,Ольга,Владимировна,Минфин,,+7(495)983-3...
4  Паньшин,Алексей,Владимирович,Минфин,,+7(495)74...
5  Лагунцов,Иван,Алексеевич,Минфин,,+7(495)913-11...